{% extends "levelup/base.html" %}

{% load static %}

{% block content %}
<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#" >Domain</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'technology' %}">Technology</a>
  </li>
</ul>

<br>
<br>
<div class="row row-cols-4 row-cols-md-4 g-4 mx-auto" style="left: 50px; width: 55rem;">
  <div class="col">
    <div class="card h-100 shadow-lg cards">
      <img src="{% static 'levelup/General1.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-title text-center">Card Processing</h6>
        <a href="{% url 'quiz_home' %}" class="stretched-link"></a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100 shadow-lg cards" data-mdb-ripple-color="light">
      <img src="{% static 'levelup/Merchant_Onboarding.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-title text-center">Merchant Boarding</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 shadow-lg cards">
      <img src="{% static 'levelup/Payment_Gateway.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-title text-center">Gateway Services</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 shadow-lg cards">
      <img src="{% static 'levelup/Payment_Switching.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-title text-center">Switching</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 shadow-lg cards">
      <img src="{% static 'levelup/Dispute_Resolution_1.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-title text-center">Disputes</h6>
      </div>
    </div>
  </div>
</div>

{% endblock %} 